$sidebar-blue1: #293176;
$sidebar-blue2: #354d7f;
$sidebar-blue3: #44698d;
$sidebar-blue4: #58859d;
$sidebar-blue5: #6aa6af;
$sidebar-blue6: #7fcbbf;
$sidebar-blue7: #b7dfd7;

$tag-blue: $sidebar-blue4;
$font-blue: $sidebar-blue4;

$row-blue1: $font-blue;
$row-blue2: #275d78;
$row-blue3: #6fa5c0;
$row-blue4: #8297a3;
