@import "base";

@font-face {
  font-family: 'Bebas Neue Light';
  src: url('../fonts/BebasNeue Light.ttf');
}

@font-face {
  font-family: 'Bebas Neue';
  src: url('../fonts/BebasNeue Regular.ttf');
}

body { font-family: 'Bebas Neue'; font-size: 3em; }
body > * { position: fixed; }

.logo {
  width: 30%;
  display: inline-block;

  img {
    width: 100%;
    height: auto;
  }
}

#bp {
  left: 15%;
}

#and {
  left: 46%;
  font-size: 2em;
}

#innod {
  right: 15%;
}

#present {
  top: 48%;
  font-size: 100%;
  text-align: center;
}

#hackathon {
  top: 55%;
  left: 30%;
  transform: rotate(-90deg);
}

#dfg {
  top: 55%;
  left: 40%;
}

#dfg-tag {
  top: 60%;
  left: 55%;
}
